.button {
  @include text-style(16px, 18px);

  position: relative;

  display: block;
  padding-top: 17px;
  padding-bottom: 15px;
  width: 200px;
  box-sizing: border-box;

  color: $white;
  text-transform: uppercase;
  text-align: center;

  background-color: $gold;
  border: 1px solid $gold;
  cursor: pointer;

  &--download {
    margin-top: 63px;
    margin-left: 200px;
  }

  &--rent-terms {
    margin-top: 43px;
  }

  &--presentation {
    margin-top: 34px;
    margin-left: 100px;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 30px;

    &::before {
      content: "";

      position: absolute;
      top: 10px;
      left: 32px;

      display: block;
      width: 25px;
      height: 25px;

      background-image: url("../img/play.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &:hover {
    color: $gold;

    background-color: $white;

    &::before {
      border-color: $gold;
    }
  }
}
