.header {
  display: flex;
  flex-direction: column;

  background-color: $brown-100;
}

.header__logo-wrapper {
  margin-right: 297px;
  width: 65px;
}

.header__logo-link {
  &:hover {
    opacity: 0.7;
  }
}
